html, body{
	background: #ffffff;
	font-style: normal;

	overflow-x: hidden;
}
body{
	position:relative;
	z-index: -10000;
}
strong{
	text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
   	margin:0%;
	font-size:10px;
	font-weight: normal;
	line-height: normal;
	color: transparent;
}
p{
	margin: 0%;
}
figure{
	margin: 0%;
	padding: 0%;
}
ul{
	list-style: none;
	padding: 0%;
}
header{
	background: #033a74 ;
	width: 100%;
	height: 100%;
	margin: 0%;
	font-family: 'Open Sans', sans-serif;
	
}


div.menu-container{
	background: #033a74 ;
}

img.logo{
	margin-left: 100px;
}

ul.menu{
	margin-top: 10px;
	margin-right: 100px;
}
li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}

a.white-leter{
	position: relative;
	color: white;
	margin-left: 18px ;
	margin-right: 18px ;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
}
a.white-leter:hover{
	position: relative;
	border-bottom: 3px solid #FFDA31;
	bottom:0;
	top: 0;
	right: 0;
	left: 0;
	padding-bottom: 1px;
}

section.contacto-container{
	background:  #033a74 ;
	position: relative;
	color: white;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-align: center;
	padding-top: 90px;
	overflow-x: hidden;
	z-index: 1000;
}

section.contacto-container:after {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-top: 0px solid transparent;
	border-left: 6000px solid  #033a74;
	border-bottom: 300px solid  #F9F9F9;
	transform:translateY(0px);
	z-index: -10;
}
h1.title{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: normal;
	margin-top: 40px;

}
strong{
	font-weight:bolder;
}
div.boton{
	text-align: center;
	margin-top: 60px;
	margin-bottom:70px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;	
}

a.boton-contacto{
	background-color: #ffda31 ;
	color: #033a74 ;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 55px;

}

div.white-grid{
	position: relative;
	background-color: white;
	color:black;
	max-width: 54%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	transform:translateY(0px);
	z-index: 10000;
}
div.top-text{
	text-align: left;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
}
section.container-somos{
	position: relative;
	background: #F9F9F9;
	width: 100%;
	height: 100%;
	padding-bottom: 200px;
	padding-top: 200px;
	z-index:-1000;
}

div.lo-que-somos{
	text-align: center;
	align-items: center;
	margin-left: 20%;
	margin-right:20%;

}

h3.trititle{
	position:relative;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	transform: translateY(-100px);
}
h3.trititle::after{
	content: "";
	position: absolute;
	top: 26px;
	bottom: 0px;
	left: 2px;
	right: 2px;
	border-bottom:0.5px solid #000000;
}

h2.subtitle-somos{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #333333;
	transform: translateY(-30px);
}
p.text-cobertura{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	transform: translateY(30px);
}
span{
	font-weight: 600;
}
section.la-diferencia{
	background-color: white;
	padding-top: 200px;
	padding-bottom: 130px;
}
div.grid-diferencia{
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;	
}
div.image-c{
	margin-right: 100px;
}
div.text-d{
	margin-left: 15px;
}
p.title-p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 8px;
}
p.text-p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
section.nuestros-productos{
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: #333333;
	width: 100%;
	height: 100%;
	padding-top: 140px;
	padding-bottom: 80px;
}
h3.nuestros.trititle::after{
	content: none;
}
h3#nuestros{
	color: white;
	transform: translateY(-50px);
	font-weight: 700;
}
h3#nuestros::after, h3#nuestros::before{
	content: "";
	position: absolute;
	width: 12px;
	height: 2px;
	background: white;
	top: 0;
} 
h3#nuestros::after{
	content: "";
	right: 600px;
}
h3#nuestros::before{
	content: "";
	left: 500px;
}
div.white-backgraund{
	width: 80%;
	background-color: white;
	color: black;
	border-radius: 5px;
}
img.image-slide{
	width: 100%;
	height: auto;
}
p.title-slide{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	padding-bottom: 20px;

}
p.text-slide{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	padding-bottom: 20px;
}
a.slide-link{
	color:#333333;
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
section.nuestros-mercados{
	background: #F9F9F9;
	padding-bottom: 200px;
	padding-top: 200px;
}
h2.region{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 20px;
	list-style: none;
	}

div.mercados-text{
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}
li.country{
	font-weight: 300;
	font-size: 15px;
	line-height: 24px
}
li.mexico{
	padding-top: 20px;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
}
img.mapa{
	width: 100%;
	height: auto;

}
section.noticias{
	background: #ffffff;
	padding-top: 200px;
	padding-bottom: 200px;

}

div.grey-backgraund{
	background: #F9F9F9;
}
img.image-news{
	width: 250px;
	height: 250px;
	object-fit: cover;
}
div.news-text{
	padding-bottom: 60px;
	padding-left: 15px;
	padding-right: 15px;
}
p.noticias-fecha{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 15px;
}
h5.noticias-title{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 15px;
}
p.noticias-text{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 27px;
	padding-bottom: 15px;
}
div.aling{
	vertical-align: middle;
}
a.noticias-link{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	text-decoration-line: underline;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 30px;
}
div.buttom-noticias{
	text-align: center;
	margin-top: 60px;
}
a.bottom-button{
	border: 1px solid #033A74;
	color: #033A74;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
footer{
	background-color: #033A74;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 700;
	font-size: 18px;
	padding-left: 120px;
}