html, body{
	background: #f9f9f9;
}

h2, h3{
   margin:0%;
}
ul{
	list-style: none;
	padding: 0%;
}
header{
	background: #033a74 ;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	margin: 0%;
	font-family: 'Open Sans', sans-serif;
	
}


div.menu-container{
	background: #033a74 ;

	
}

img.logo{
	
	width: 145px;
	height: 50px;
}

ul.menu{
	margin-right: 90px;
}


a.white-leter{
	color: white;
	margin-top: 0px;
	margin-left: 17px ;
	margin-right: 17px ;
	padding: 3px;
	font-size: small;
	text-decoration-color: #ffda31;
}

section.contacto-container{
	background: #033a74 ;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	padding-top: 100px;

}
	

h1.title{	
	margin-top: 90px;
	margin-bottom: 50px;
}

div.boton{
	text-align: center;
	margin-top: 70px;
	margin-bottom:70px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;	
}

a.boton-contacto{
	background-color: #ffda31 ;
	color: #033a74 ;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 35px;
	padding-right: 35px;	
}

div.white-grid{
	background-color: white;
	color:black;
	max-width: 70%;
}

img.image-contact{
	width: 60px;
	height: 60px;
}
div.top-text{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
}
section.container-somos{
	width: 100%;
	height: 100%;
}

div.lo-que-somos{
	text-align: center;
	align-items: center;
	margin-left: 25%;
	margin-right:25%;
	padding-bottom: 200px;
	padding-top: 200px;
}



h3.trititle{

	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	transform: translateY(-100px);
}

h2.subtitle-somos{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #333333;
	transform: translateY(-30px);
}

p.text-cobertura{
	transform: translateY(30px);
}
span{
	font-weight: bold;
}
section.la-diferencia{
	background-color: white;
	padding-top: 200px;
	padding-bottom: 130px;
}
div.diferencia-text{
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;	
}
img.trabajador{
	width: 80px;
	height: 80px;
}


section.nuestros-productos{
	color: white;
	background: #333333;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
h3.nuestros{
	color: white;
	text-align: center;
	transform: translateY(-20px);
}
h3.nuestros::after{

}

div.white-backgraund{
	background-color: white;
	color: black;
	padding: 0%;
	padding-bottom: 20px;
}

img.barco{
	width: 100%;
	height: auto;
}

p.title-slide{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 10px;
}
div.productos-text{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;	
}
a.saber-link{
	color:#333333;
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;

}
section.nuestros-mercados{
	background: #F9F9F9;
	padding-bottom: 200px;
	padding-top: 200px;
}
h2.region{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 20px;
	list-style: none;
	}

div.mercados-text{
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	opacity: .1;
}
h3.mercados{
	text-align: left;
}

img.mapa{
	width: 100%;
	height: auto;

}
aside.noticias{
	background-color: white;
}
img.contenedor{
	width: 100%;
	height: 100%;
}
h5.noticias-title{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}
p.noticias-fecha{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}
p.noticias-text{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px
}
a.noticias-link{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	text-decoration-line: underline;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
footer{
	background-color: #033A74;
	color: white;
	height: 100%;
	width: 100%;
	
}

p.Copyright{
	margin: 0px;
}